{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">

    <link href="https://fonts.cdnfonts.com/css/peace-sans" rel="stylesheet">
       <ul id="main-manu">
        <li class="main-manu-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="main-manu-item"><a href="{% url 'view_cart' %}">Корзина</a></li>
        <li class="main-manu-item"><a href="{% url 'me' %}">Профиль</a></li>
    </ul>
</head>
<body>
    <h2>Информация  О нас</h2>


<section class="services">

    <container class="container-a">
        <div class="about-info">
            <img class="about-img-mebel" src="{% static 'blog/img/mebel.jpeg' %}" alt="">
            <section class="serv-descr">
            <h3>Добро пожаловать в Green Forest – ваш источник уникальной мебели, вдохновленной
                природой! Наш слоган: "Кто, если не мы, делает мир
                более зеленым."</h3>

            <p>Green Forest — это не просто фирма по производству мебели, мы — сообщество творческих людей, объединенных
                стремлением создать прекрасные и функциональные предметы, вдохновленные лесами и заботой о нашей
                планете.
            </p>
            <h4>Наши Уникальные Изделия:

            </h4>
            <p>Мы гордимся тем, что предлагаем уникальную мебель, созданную с использованием дерева и смолы. Каждый предмет, произведенный Green Forest, — это гармония эстетики и практичности. Мы поддерживаем высокие стандарты качества и инновационный дизайн.
</p>
            <h4>Наша Экологическая Миссия:</h4>

            <p>В Green Forest мы серьезно относимся к вопросам устойчивости и ответственности перед природой. Мы осуществляем переработку старой мебели и ДСП, чтобы создавать новые, прекрасные изделия и, таким образом, уменьшать воздействие на окружающую среду.</p>
            <h4>Процесс Переработки:</h4>
            <p>Привнесите вторую жизнь вашей старой мебели! Green Forest предлагает уникальный сервис по созданию мебели из переработанных материалов. Просто свяжитесь с нами, и мы с удовольствием превратим ваш старый предмет в экологически чистое и стильное изделие.</p>
            <h4>Как Связаться с Нами:</h4>
            <p>Для консультации по вашему заказу и обсуждения деталей, свяжитесь с нами:</p>
            <h4>Телефон: +7 (987) 575 74 70
                Почта: mebel@gmail.com</h4>

            <p>Green Forest — это не просто мебель, это образ жизни, в котором сочетаются стиль, удобство и забота о нашей прекрасной природе. Сделайте ваш дом зеленым и стильным с Green Forest!</p>
         </div>

    </container>
</section>

</body>
</html>