/*GLOBAL nastroiky*/
*{margin: 0; padding: 0;}
body{font-family: :roboto, sans-serif}

p {
margin: 3%;
    font-size: medium;
    margin-top: 0;
    margin-bottom: 3rem;
}


.logo-holder{
    float:none;
    
}
.logo-img{
margin-top: 300px;
    height: 150px;
    float: none
}

#main-manu{
    list-style: none;
    text-align-last: center;
}



.main-manu-item {
    display: inline-block;

    
}

.main-manu-item a{
  background:#fff;
  width:225px;
  display:block;
  height:40px;
  padding-top:8px;
   margin: 20px auto;
    font-style: inherit;
    font-family: 'Ultra', sans-serif; 
    font-size: 18px;
  font-weight:200;
  color:#000;
  text-transform:uppercase;
  text-decoration:none;
  text-align:center;
  opacity:.8;

}


.GREENFOREST{
    margin: 1em 0 0.5em 0;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    font-style: inherit;
    font-family: 'Ultra', sans-serif;
    font-size: 75px;
    line-height: 54px;
    text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
}

/*BUTTON_BUY*/
.button-buy{
  background:#fff;

  display:block;
  height:40px;
  padding-top:8px;
  border:1px solid #000;
   margin: 20px auto;
    font-style: inherit;
    font-family: 'Ultra', sans-serif;
    font-size: 18px;

  font-weight:200;
  color:#000;
  text-transform:uppercase;
  text-decoration:none;
  text-align:center;
  opacity:.8;
  height auto;

}

    

/*services_BUY*/
.services{
    color: #000;
    text-align: center;
    margin:auto;
    margin-top: 10px
    list-style: none; /* Убираем стандартные маркеры списка */
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
        
        
        
}
h4{
margin: 3%;

     font-weight: 100;
    text-align-last: center;
    text-transform: uppercase;
    color: #676767;
    font-style: inherit;
    font-family: 'Ultra', sans-serif;
}
h2{

     margin: 2em 0 1em 0;
    font-weight: 100;
        text-align-last: center;

    text-transform: uppercase;
    color: #676767;
    font-style: inherit;
    font-family: 'Ultra', sans-serif;
    font-size: 75px;
    line-height: 54px;
    text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
}

.subheader{
    
padding-bottom: 3rem;
    
    
}




h3{
margin: 3%;
    font-size: 1.7rem;
        text-align-last: center;
color: #676767;
    margin-bottom: 1rem;

}
.cart_services{   color: #000;
display: flex;
    text-align: center;
    margin:auto;
    margin-top: 10px
    list-style: none; /* Убираем стандартные маркеры списка */
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;



}
.cart_service{float: left;
    width: 15%;
    border-radius: 30px;
    border: 2px solid #284530;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin: 3%;
    padding: 1%;
    box-sizing: border-box; /* Включаем box-sizing, чтобы полностью учитывать padding и border при расчете размеров элемента */
}
.service {
    float: left;
    width: 27%;
    height: 100%; /* Устанавливаем высоту на 100%, чтобы формы были одинакового размера */
    border-radius: 30px;
    border: 2px solid #284530;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin: 3%;
    padding: 1%;
    box-sizing: border-box; /* Включаем box-sizing, чтобы полностью учитывать padding и border при расчете размеров элемента */
}

.img-mebel {
    width: 100%; /* Фиксированная ширина изображения */
    height: 100%; /* Фиксированная высота изображения */
    object-fit: cover; /* Заполняем размерами область содержимого */
    border-radius: 15px; /* Применяем скругление углов */
}

.serv-descr{
    margin-top: .8rem 0;
    text-align: left
}



/*ABOUT*/

}
.about-info{
    float:left;
    border-radius: 30px;
    border: 2px solid #284530;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    padding: 2%;


    
}
.about-img-mebel{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto; /* Центрируем изображение по горизонтали внутри блока */
}
.about-info {
    margin-top: 120px;
    text-align-last: center;
    font-style: inherit;
    font-family: 'Ultra', sans-serif;
    font-size: 20px;
    font-weight: 200;v
}
.serv-descr{
    text-align-last: center;
    font-style: inherit;
    font-family: 'Ultra', sans-serif;
    font-size: 30px;
    font-weight: 200;
}

/*POL*/
 .contact{
  margin-top: 170rem;
    height: 150px;
    text-align: end;
  background:#6d6a44;
  border:1px solid #000;
    font-style: inherit;
    font-family: 'Ultra', sans-serif;
    font-size: 20px;
  font-weight:200;
  }

.pol{
    height: 150px;
    text-align: end;
  background:#6d6a44;
  border:1px solid #000;
    font-style: inherit;
    font-family: 'Ultra', sans-serif; 
    font-size: 20px;
  font-weight:200;    
    
}
.viprudolf{
color: #000;
    margin-top: 20px;
    text-align-last: center;
    font-style: inherit;
    font-family: 'Ultra', sans-serif; 
    font-size: 20px;
  font-weight:200;   
}

/*POISK*/
/* Стили для основного контейнера формы */
.product {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 3px;
}

/* Стили для полей ввода и кнопки */
.product input[type="text"],
.product button {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
